<a href="https://colab.research.google.com/github/subashinianand/Titanic-dataset/blob/main/Titanic_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [40]:
file_path="/content/drive/MyDrive/Colab Notebooks/Titanic-Dataset.csv"

In [41]:
data.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  204 non-null    int64
 1   Survived     204 non-null    int64
 2   Pclass       204 non-null    int64
 3   Name         204 non-null    object
 4   Gender       204 non-null    object
 5   Age          204 non-null    float64
 6   SibSp        204 non-null    int64
 7   Parch        204 non-null    int64
 8   Ticket       204 non-null    object
 9   Fare         204 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     204 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 19.3+ KB

In [43]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [44]:
import pandas as pd
data = pd.read_csv(file_path)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [45]:
age_series = df['Age']
fare_series = df['Fare']
survived_series = df['Survived']
print(age_series.head())
print(fare_series.head())
print(survived_series.head())

1     38.0
3     35.0
6     54.0
10     4.0
11    58.0
Name: Age, dtype: float64
1     71.2833
3     53.1000
6     51.8625
10    16.7000
11    26.5500
Name: Fare, dtype: float64
1     1
3     1
6     0
10    1
11    1
Name: Survived, dtype: int64

In [46]:
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [47]:
data.isnull().sum()
data['Age'].fillna(df['Age'].mean(), inplace=True)
data['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
data.dropna(inplace=True)

/tmp/ipython-input-285/284336775.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-285/284336775.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [48]:
data.reset_index(drop=True, inplace=True)
data.loc[0]
data.iloc[0]
data[['Age', 'Fare', 'Survived']].head()

    Age     Fare  Survived
0  38.0  71.2833         1
1  35.0  53.1000         1
2  54.0  51.8625         0
3   4.0  16.7000         1
4  58.0  26.5500         1

In [49]:
data.rename(columns={'Sex': 'Gender'}, inplace=True)
pivot_table = data.pivot_table(values='Survived',
                             index='Gender',
                             columns='Pclass',
                             aggfunc='mean')

print(pivot_table)

Pclass         1         2         3
Gender
female  0.962963  0.900000  0.666667
male    0.410526  0.666667  0.333333

In [50]:

data[data['Age'] > 30]
data[data['Fare'] > 50]
data[(data['Gender'] == 'female') & (data['Survived'] == 1)]
data.sort_values(by='Fare', ascending=False)
data.sort_values(by='Age')
data.sort_values(by='Survived', ascending=False)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,G6,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,C103,S
11,56,1,1,"Woolner, Mr. Hugh",male,35.258349,0,0,19947,35.5000,C52,S
...,...,...,...,...,...,...,...,...,...,...,...,...
179,777,0,3,"Tobin, Mr. Roger",male,35.258349,0,0,383121,7.7500,F38,Q
172,746,0,1,"Crosby, Capt. Edward Gifford",male,70.000000,1,1,WE/P 5735,71.0000,B22,S
188,816,0,1,"Fry, Mr. Richard",male,35.258349,0,0,112058,0.0000,B102,S
198,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,A24,S
200,873,0,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,B51 B53 B55,S

In [51]:

data.groupby('Gender')['Survived'].mean()
data.groupby('Pclass')['Age'].mean()
data.groupby('Embarked')['Survived'].sum()

Embarked
C    52
Q     2
S    82
Name: Survived, dtype: int64

In [55]:
category_data = pd.DataFrame({
    'Pclass': [1, 2, 3],
    'Category': ['Upper', 'Middle', 'Lower']
})
merged_data = pd.merge(data, category_data, on='Pclass')
data2 = category_data.set_index('Pclass')
joined_data = data.join(data2, on='Pclass')
concat_data = pd.concat([data.head(), data.tail()])

In [56]:
avg_age_survived = data[data['Survived'] == 1]['Age'].mean()
avg_age_not_survived = data[data['Survived'] == 0]['Age'].mean()
highest_fare = data['Fare'].max()
lowest_fare = data['Fare'].min()
survival_percentage = (data['Survived'].sum() / len(data)) * 100
print("Average Age (Survived):", avg_age_survived)
print("Average Age (Not Survived):", avg_age_not_survived)
print("Highest Fare:", highest_fare)
print("Lowest Fare:", lowest_fare)
print("Survival Percentage:", survival_percentage)

Average Age (Survived): 33.347513537638235
Average Age (Not Survived): 40.63333519913156
Highest Fare: 512.3292
Lowest Fare: 0.0
Survival Percentage: 66.66666666666666